*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.letras-display{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 50vw;
}

.controles{
    display: flex;
    width: 100vw;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    border: solid 1px black;
    transition: 200ms;
}

button:hover{
    background-color: black;
    color: white;
}

input{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: solid 1px black;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

.botoes{
    margin-top: 25px;
}

div{
    border-bottom: solid 10px black;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 8%;
    height: 4rem;
    margin: 0 0 0 2%;
    font-size: 5rem;
}

span{
    font-size: 40px;
    font-family: monospace;
    position: fixed;
}

@media only screen and (max-width: 420px) {
    div{
        border-bottom: solid 5px black;
        font-size: 2rem;
    }   
    
    .letras-display{
        width: 90%;
    }
}

