<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Jogo da forca</title>
</head>

<body>
    <span id="msg"></span>
    <section class="letras-display">

    </section>


    <section class="controles">
        <input placeholder="LETRA" type="text" id="letra">

        <section class="botoes">
            <button id="criar">START</button>
            <button id="teste">Verificar</button>
        </section>

    </section>




    <script type="module" src="../app.js"></script>

</body>

</html>